<%= form_with(model: plannedtransaction, local: true) do |f| %>
  <% if plannedtransaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plannedtransaction.errors.count, "error") %> prohibited this plannedtransaction from being saved:</h2>

      <ul>
      <% plannedtransaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </div>

   <section class="ex1" id="basic_usage">
  <div class="field">
	  <table>
		  <thead>
    		  <tr>
    			  <th>select all</th>
				  <th><%= f.label :january %></th>
				  <th><%= f.label :february %></th>
				  <th><%= f.label :march %></th>
				  <th><%= f.label :april %></th>
				  <th><%= f.label :may %></th>
				  <th><%= f.label :june %></th>
				  <th><%= f.label :july %></th>
				  <th><%= f.label :august %></th>
				  <th><%= f.label :september %></th>
				  <th><%= f.label :october %></th>
				  <th><%= f.label :november %></th>
				  <th><%= f.label :december %></th>
			  </tr>
		  </thead>
		  <tbody>
    		  <td><input type="checkbox" id="simpleCheckAll" >All Items</input></td>
			  <td><%= f.check_box :january, class: :selectable %></td>
    		  <td><%= f.check_box :february, class: :selectable %></td>
			  <td><%= f.check_box :march, class: :selectable %></td>
			  <td><%= f.check_box :april, class: :selectable %></td>
			  <td><%= f.check_box :may, class: :selectable %></td>
			  <td><%= f.check_box :june, class: :selectable %></td>
			  <td><%= f.check_box :july, class: :selectable %></td>
			  <td><%= f.check_box :august, class: :selectable %></td>
			  <td><%= f.check_box :september, class: :selectable %></td>
			  <td><%= f.check_box :october, class: :selectable %></td>
			  <td><%= f.check_box :november, class: :selectable %></td>
			  <td><%= f.check_box :december, class: :selectable %></td>
		  </tbody>
	  </table>
  </div>
   </section>
	
  <div class="field">
    <%= f.label :repeat_yearly %>
    <%= f.check_box :repeat_yearly %>
  </div>
  
  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="field">
    <%= f.label :category_id %>
     <%= f.select :category_id, Category.all.collect {|p| [ p.name, p.id ] } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
    <script type="text/javascript">
      $(".ex1").find("#simpleCheckAll").select_all();
    </script>